[2016-05-19 09:26] quolpr opened #3 "Unknown validator: 'UniquenessValidator'"
I cloned your project, then I installed gems:
[code]
And after running command:
[code]
I got error:
[code]

[2016-05-19 09:33] quolpr commented on #3
This issue looks like this - apotonick/reform#286
I changed model validation from:
[code]
To:
[code]
But I am still getting error:
[code]

[2016-05-19 09:43] quolpr commented on #3
Oh, I just noticed that tests are broken :smile:
So, should I write tests for form generators?

[2016-05-19 10:00] apotonick commented on #3
Regarding uniqueness: http://trailblazer.to/gems/reform/validation.html#uniqueness-validation :grimacing:

[2016-06-28 09:06] jurrick opened #7 "JSON property with nested data"
If model has JSON field then it is possible to add nested properties for JSON to contract?

Example:

models/station.rb
[code]

concepts/station/update.rb
[code]

Then gem raises error message `undefined method 'briefing' for #<Hash:0x007fd47c200aa0>`

What are the ways to solve this problem?

[2016-06-28 09:10] apotonick commented on #7
Use the new awesome `JSONB` feature in Reform/Disposable. I will announce it tomorrow.

[2016-06-28 09:57] jurrick commented on #7
That's great! I'll wait it!

[2016-06-28 09:57] #7 closed

[2016-07-04 01:37] PikachuEXE opened #9 "0.1.4 makes eagar loading fail"
I tried to update from 0.1.2 > 0.1.4
`reform` `2.2.1`

### Code:
[code]
Got the same error with or without `include`

### Error Log
[code]

[2016-07-04 04:30] apotonick commented on #9
Your application config, please. I have no idea how "eager loading" works.

[2016-07-04 05:05] PikachuEXE commented on #9
Sure please see below

Main line for eager load:
[code]

#### `config/application.rb`
[code]

#### `config/environments/development.rb`
[code]

[2016-07-25 07:40] SanderMander opened #12 "property :model broke form_for support, because of name conflicts"
form_object.model should return associated model. But if form_object have declared property with name "model" it cause name conflicts

[2016-07-25 09:31] apotonick commented on #12
Hi @SanderMander - I think this should be handled in Reform and not in reform-rails!

[2016-08-05 01:38] PikachuEXE commented on #9
This issue still exists in `0.1.5`
Anything missing that I should provide?

[2016-08-05 14:01] RKushnir opened #15 "Form inheritance raises for `validates_with` when not wrapped in a validation group"
### Steps to reproduce
Having the following form declaration:
[code]
Call `Class.new(FooForm)`.

### Expected behavior
A child class of `FooForm` created.

### Actual behavior
Exception `ArgumentError: :attributes cannot be blank` raised.

### System configuration
**Reform-rails version**: 0.1.3 (also, applies to master as of now)
**Reform version**: 2.2.1

### Full Backtrace of Exception
[code]

[2016-08-05 15:06] RKushnir opened #16 "validates_uniqueness_of doesn't work in validation groups"
Basically, it's only implemented as a method on the form itself, but not on the validation group.
So the following works:
[code]
and this doesn't:
[code]

To make it clear, this is not a feature request, it's a shortcoming in the existing API.

[2016-08-09 19:59] fran-worley opened #17 "`validate` false positive when property name is `Object` method"
See https://github.com/apotonick/reform/issues/314 for conversation.

Original description:

Might not be only Object methods, but is definitely at least those:

[code]

[2016-08-24 19:39] tap349 opened #20 "`uninitialized constant Reform::Form::ActiveModel::ActiveModel` in Rails 5 with dry"
Good day! I use Rails 5, reform-rails 0.1.5, dry-validation 0.9.5.

When setting validation engine to `dry-validation` in initializer:

[code]

loading fails:

[code]

I have figured it out that it's also necessary to require `'reform/form/active_model/validations'` (in addition to `'reform/form/active_model'`):

[code]

(or somewhere after this line: https://github.com/trailblazer/reform-rails/bl

[2016-08-24 20:32] apotonick commented on #20
Hm, weird, ActiveModel shouldn't be loaded at all...

[2016-08-25 18:28] tap349 commented on #20
in case anyone would like to debug it here are the steps to reproduce the error:

1) generate new Rails 5 project:

$ rails new rails_test --skip-active-record

2) add gems to `Gemfile`:

[code]

run `bundle install`

3) configure to use dry validation engine in `config/initializers/reform.rb`:

[code]

4) comment out requiring "active_model/railtie" in `config/application.rb`:

[code]

comment ou

[2016-09-03 11:38] RKushnir opened #22 "No way to gradually switch to dry-v"
Basically, adding `feature Reform::Form::Dry` to your form object does nothing, the form continues to use AM::V, unless you switch the whole app with `config.reform.validations = :dry`.

### Case 1, dry-validation is not recognized:
[code]
### Case 2, AM::V still works:
[code]
### Case 3, switching to dry-v globally, only now it works:
[code]

## Versions
[code]

[2016-09-07 04:07] ridget opened #24 "unique validator - persisted record allow count issue"
I have an existing record a, with a name attr on the model of 'foo' and a persisted record being validated, b, and b's name is being changed to 'foo'.

When i run the validation against b, the unique validation passes, because it is persisted, the allow count is set to 1, and the query count is also 1.

Should not the allow count be set to 1, only if b is included in the query?

Have patched this

[2016-09-07 04:43] adisos commented on #24
https://github.com/trailblazer/reform-rails/pull/21 related

[2016-09-07 04:50] ridget commented on #24
@adisos #21 solves the bug. Ill close this off in lieu of your PR if you don't mind?

[2016-09-07 04:54] #24 closed

[2016-09-07 19:08] RKushnir commented on #22
Ok, I figured I just need to do `require 'reform/form/dry'` before using `feature Reform::Form::Dry`. Got confused by the fact it didn't fail with `undefined module`, but with a warning about `toplevel constant Dry referenced...`.

[2016-09-07 19:15] RKushnir commented on #22
So I was wondering how could I miss that I need to require it and found an answer:
http://trailblazer.to/gems/reform/validation.html#validation-engine

[2016-09-07 19:21] #22 closed

[2016-09-07 21:54] apotonick commented on #20
The problem is here: https://github.com/trailblazer/reform-rails/blob/master/lib/reform/rails/railtie.rb#L46

I decided to include this so gems like SimpleForm etc. still work and people don't send me "bug" reports every five minutes that their form helpers don't work anymore.

You can add another option `reform.disable_active_model = false` to prevent this from happening. Do you want to do that?

[2016-09-07 21:56] apotonick commented on #20
BTW thanks for your reproduction list, helped me to save brain and time!

[2016-09-20 09:58] ujh opened #25 "Bug in uniqueness validation"
This is essentially https://github.com/apotonick/reform/pull/333, i.e. when renaming a unique attribute to a value of another existing entry in the DB that this is not caught using the existing code.

I'd love to write a test case for this but I can't even get the current test suite to pass. `rake` gives me a lot of error messages (I've checked out `v2.2.1` of reform and `master` is even worse as

[2016-09-21 10:42] Vaultman opened #26 "Undefined method persisted? with json field"
I'm trying to use postgres JSONB fields using Hash as described in your [blogpost](https://apotonick.wordpress.com/2016/07/06/schemaless-models-with-hash-fields-or-jsonb/).
I'm getting `undefined method persisted? for {}:Hash` when I try to display json fields using simple_form (and simple_fields_for or fields_for). I have this exact issue even with your example from your blogpost.
Reform version

[2016-09-21 10:47] apotonick commented on #26
Ah, that must be because simple form thinks the nested hash is a model. Can you tell `fields_for` to skip this magic guess?

[2016-09-21 11:06] Vaultman commented on #26
Oh, when I use `f.simple_fields_for @form.slack do |s|` instead of a `f.simple_fields_for :slack do |s|` it seems to work just fine.

[2016-09-22 10:34] alessandro1997 commented on #25
👍 this is only happening with reform-rails 0.1.6. 0.1.5 works fine. Oddly enough, there doesn't seem to be a tag for 0.1.6 here on GitHub.

[2016-09-22 19:39] sbleon opened #27 "Intermittent failures in 0.1.6"
This change https://github.com/trailblazer/reform-rails/commit/2e2a1ae25f48a9ec2385fa661ab6abb39241497f#diff-7039e69b74a923442bc1ec818227ae27L54 makes my specs fail with:
[code]

[2016-09-22 19:53] fran-worley commented on #27
@sbleon you need to make sure that you are using the right version of Reform.

[2016-09-22 20:23] sbleon commented on #27
I’m using reform 2.2.1 (the latest release). Is there something I should be
doing differently?

On Thu, Sep 22, 2016 at 3:53 PM, Fran Worley <notifications@github.com>
wrote:

[2016-09-22 21:31] ZombieHarvester commented on #27
same problem
[code]

[2016-09-23 01:54] kapso commented on #27
+1 ...seeing the same issue.

[2016-09-23 08:42] fran-worley commented on #27
Ahh see that commit probably shouldn't have got released as you'll need reform from master.

I'll pull it out and stick it in a branch for now. Sorry guys!

[2016-09-23 14:30] fran-worley opened #28 "Still issues with property named 'format'"
I'm not sure what's changed between Ruby versions but...

This change resolves the problem on Ruby 2.2.3:
https://github.com/apotonick/reform/commit/14c4fa2972cac5750e4acdb4c4cdd36b17785cac

A format method is required to fix the issue on Ruby 2.0.0
https://github.com/apotonick/reform/commit/4f418d0c1e2ba269ac3f8ff64969f48b40742c79

And something different is needed for Ruby 2.3.1. Interestingly t

[2016-09-23 15:17] sbleon commented on #27
Thanks, Fran!

On Fri, Sep 23, 2016 at 4:42 AM, Fran Worley <notifications@github.com>
wrote:

[2016-09-23 15:19] sbleon commented on #27
This is fixed in `master` so I'll close this issue.

[2016-09-23 15:19] #27 closed

[2016-09-23 15:20] sbleon commented on #27
Specifically, it was fixed by e8dea9ff159d238a622065581a3650f50bba33a7

[2016-09-26 11:46] fran-worley commented on #27
0.1.7 now released and 0.1.6 yanked. Thanks for reporting guys!

[2016-09-26 11:52] tap349 commented on #20
@apotonick sorry for late answer. adding this option would be great - it looks much better than some magical `require` in initializer :)

P.S. this option didn't get into the last release?

[2016-09-26 14:25] fran-worley commented on #16
As per the trailblazer [guide](http://trailblazer.to/gems/reform/validation.html#uniqueness-validation) you should be careful using the native active model uniqueness validation.

We won't be adding enhanced support for this as we are trying to encourage people to use the reform unique validation:

[code]

[2016-09-26 14:25] #16 closed

[2016-09-26 14:26] fran-worley commented on #3
@quolpr these issues should all be resolved on master as I've just done a load of work sorting the test suite and all tests are now passing.

[2016-09-26 14:26] #3 closed

[2016-09-26 14:30] fran-worley commented on #25
@alessandro1997 we've just pulled reform-rails v0.1.6.
@ujh you should be able to get the suite to pass now (though not with rails 5)

Can you check the changes made via this PR https://github.com/trailblazer/reform-rails/pull/21 as it looks like the second part of this might fix your issue.

[2016-09-26 14:30] RKushnir commented on #16
Thanks, @fran-worley I must have missed the moment it was introduced.

[2016-09-26 14:33] ujh commented on #25
Yes, #21 should fix the issue. 👍

[2016-09-26 15:09] alessandro1997 commented on #25
Great! 👍

[2016-09-26 15:25] fran-worley commented on #20
@tap349 I've just added this into master via https://github.com/trailblazer/reform-rails/commit/85484f75da7695c0410cf055e016458f8f263d56 .

Can you try it out for me so I include it in the next release?

[2016-09-26 17:20] fran-worley opened #30 "Rails 5 - Acceptance validation error"
This [commit](https://github.com/rails/rails/commit/37661bfc810da7384ac6650d60be8669baa16813#diff-4bd768938162ea6ee67ebb1ef7f9332c) to the rails acceptance validation causes a stack level too deep error when trying to use it in reform.

[Tests](https://github.com/trailblazer/reform-rails/blob/master/test/activemodel_validation_test.rb#L242-L256) skipped for now.

[2016-09-26 19:27] tap349 commented on #20
@fran-worley thanks, it works )

BTW in this commit I see that `enable_active_model_builder_methods` option is `false` by default. this is perfectly fine for me since I don't use ActiveModel but probably the opposite case is more common - that is when people do use ActiveModel. Thus maybe it makes sense to set it `true` by default (or change the name to `disable_active_model_builder_methods` and l

[2016-09-26 19:28] fran-worley commented on #20
@tap349 if you use ActiveModel validation those methods are included regardless of how you set that config var. It only applies if you use dry hense why I've set the default to false

[2016-09-26 20:09] tap349 commented on #20
@fran-worley I've just encountered an error when trying to validate nested params using master branch and dry backend with `enable_active_model_builder_methods = false`:

[code]

params hash:

[code]

previously nested param key had postfix `_attributes`:

[code]

[2016-09-26 20:12] fran-worley commented on #20
That'll be because rails form_helpers change the param when you use ':fields_for' to append the '_attributes'. In disabling all of the rails form magic the code that converts it back will no longer be included.

[2016-09-26 20:19] tap349 commented on #20
@fran-worley Can you please clarify it a little bit for me? I use SimpleForm and `simple_fields_for` (that might use rails form helpers internally) but since I don't include AM builder methods (`enable_active_model_builder_methods = false`) I get nested param keys without `_attributes` prefix. But why do I have the error above when validating reform form?

[2016-10-04 12:41] adisos opened #33 "Compability with active_model-errors_details gem"
https://github.com/cowbell/active_model-errors_details - Adds ActiveModel::Errors#details to return type of used validator - Backport from Rails 5.0

[2016-10-15 23:11] apotonick commented on #33
What's the difference to `errors[:name]`, for example?

BTW we introduce a new errors API in Reform 2.3, so your issue came in at the perfect time! :+1:

[2016-10-16 09:36] coatezy commented on #33
I have also noticed that error details are not being set when using Rails 5. I am guessing this is  because the current errors API in Reform does not expose this information?

If I add a custom error with a matching i18n locale

`errors.add(:design, :not_in_use)`

 I get back the error message and detail.

[code]

But the default active record validation errors do not.

[code]

[2016-10-16 09:39] apotonick commented on #33
Thanks @coatezy - the reason is until today I didn't even know the concept of "detail" now exists for AM errors.

[2016-10-16 09:44] coatezy commented on #33
No problem @apotonick! Just thought I'd add a little more info to the issue so it is clear what is working/not working. 😄 👍

[2016-10-16 09:46] apotonick commented on #33
Yeah that's great, the more you describe the better @fran-worley and I can work out the new `Errors` API for Reform 2.3! :beers:

[2016-10-20 08:56] mcmire opened #36 "Nested form objects during validation have the wrong ActiveModel::Name"
Say you have two forms, and one is nested in relation to the other, and you have validations on both forms:

[code]

Also (for the sake of completion) say you have a generic setup like this in your controller:

[code]

Now let's say that you've want to provide custom translations for these validations. You can do this easily for the parent form:

[code]

But if you want to provide translations for

[2016-10-24 00:52] mcmire opened #37 "Question: Are nested forms saved in a transaction?"
I've used Reform for a few times and every time I start to use nested forms, I stop and ask the question, are nested forms saved in a transaction? My guess would be that they are not, since Reform doesn't know anything about ActiveRecord or any ORM for that matter. I've looked in this gem, and I haven't found anything related to that. I've also looked in Disposable, too, and found [this bit of cod

[2016-10-24 04:52] apotonick commented on #37
Correct, `Reform` simply calls `save` on the "models". You can do it manually and wrap whatever you need into transactions. Need an example?

[2016-10-24 04:52] #37 closed

[2016-10-24 15:21] mcmire commented on #37
@apotonick Well, I think what's worked for me so far is to let Rails take care of it:

[code]

I don't know if this is standard practice or what, though. (It feels a little dirty too.)

Regardless, I think it would be nice to have something in the docs about this. Because I think people are going to come from ActiveRecord and think, "oh, if I add a `collection` then Reform will just take care of e

[2016-10-24 21:23] apotonick commented on #37
This does actually not look right, since Disposable will take care of what you do manually. Besides that, this kind of code is supposed to be written in the Trailblazer operation and not the form object.

Can you make a small example where you show me what initial object state, input, and desired side effect you want?

[2016-10-27 05:34] #25 closed

[2017-01-19 17:09] alessandro1997 commented on #30
@fran-worley do you know of any workarounds or potential fixes? I am using `acceptance` in my Rails app and had to disable it because I upgraded to Rails 5.

[2017-01-19 17:16] fran-worley commented on #30
Use an alternative validation library like dry-validation??

You could also just implement it manually by adding in your virtual attribute and checking that it's value is equal to whatever you deem to be acceptance.

Given that I'm not currently using Rails 5 or ActiveModel validations this isn't going to be very high on my list of things to fix.

PRs are always appreciated though 😉

[2017-01-19 17:28] alessandro1997 commented on #30
I am using dry-validation in another project, so yes, it might be time to switch here as well. 😄

Thanks for the advice!

[2017-01-20 14:29] wintersolutions opened #40 "All fields are required with simple_form and Rails 5"
Given a Form object:

[code]
and a corresponding `form.haml`:
[code]

Both fields are marked as required when I view the form.

versions:
* reform 2.2.3
* reform-rails 0.1.7
* simple_form 3.4.0
* rails 5.0.1
* cells-rails 0.0.6
* trailblazer 2.0.1
* trailblazer-rails 1.0.2

[2017-01-29 14:09] estraver opened #41 "params as array for collection in a rails form"
With a ralis form you can have parameter names with [] as in the next example
[code]

In params you receive an array. But in the deserialize! method it always expect a hash as you can see in the code below
[code]

So maybe you can check if the received value is also an hash. values is not a method Array.

[2017-02-01 13:02] kofronpi opened #42 "Validating collection presence with dry-validation does not consider rails '_attributes' params"
When using dry-validation as the validation engine, let's say I have this validation block in my form:
[code]

Validating the form with a valid `members_attributes` subhash fails, the form is marked as invalid and the validation error triggered.

[2017-02-09 11:02] fran-worley opened #43 "Update reform-rails to work with new reform API"
## New Reform APIs
We need to update reform-rails to work with the new super simple Errors API.

## Support for Custom Validations
Custom validations work by calling `errors.add(:key, value)` if a condition is met. This isn't supported in Reform core and will need to be added.

## Form Builders
Our Errors API needs to provide methods expected by rails form builders [see] (https://github.com/trailb

[2017-02-13 11:25] fran-worley commented on #42
@kofronpi if you're using rails form builders they will add the _attributes and do some other craziness to the format of your nested params.

You'll need to include (as a minimum)

https://github.com/trailblazer/reform-rails/blob/master/lib/reform/form/active_model/form_builder_methods.rb

to transform the rails style params into something that dry will be able to interpret. We should probably add

[2017-02-21 17:21] coatezy commented on #33
I am currently implementing an API and use the details hash to return the error type when rendering errors. I have monkey patched for now but it would be nice if Reform Rails could support details.

Pretty sure `#details` was introduced in Rails 5 so it would need to use this approach if Rails 5 is being used and fall back to the old approach if Rails 4 or less is being used.

https://github.com/t

[2017-02-21 20:45] fran-worley commented on #40
This is nothing to do with rails 5 specifically, it also happens when using reform with dry validations and in cases where you have more complex validations (i.e. conditions).

The simplest solution would be for you to just tell simple form which fields are required manually (`required: true`).

We won't be doing any more work on making Reform work any better with SimpleForm, but a PR would be wel

[2017-02-21 20:45] #40 closed

[2017-02-21 21:28] fran-worley commented on #43
API changes made via #44

[2017-02-21 21:28] #43 closed

[2017-02-21 21:31] fran-worley commented on #33
@coatezy we now (on master) delegate `errors.add()` to ActiveModel rather than using our own implementation so this shouldn't be a problem anymore.

[2017-02-21 21:31] #33 closed

[2017-02-21 21:44] fran-worley commented on #26
@Vaultman I think the cleanest thing to do is just to update the docs to make people aware of this little gotcha when using rails form builders.

We won't be putting any more time in to improved integration with rails form builders like SimpleForm, but if you've got ideas PRs are always welcome 😸

[2017-02-21 21:44] #26 closed

[2017-02-21 21:51] fran-worley commented on #36
@mcmire this isn't isolated to nested forms, as per the [docs](http://trailblazer.to/gems/reform/rails.html#activemodel-compliance) this is exactly how reform is designed to work.

If you don't think you should have to do that, what do you propose instead? We don't get involved in trying to infer classes from names like rails does as it gets messy and brittle pretty quickly.

[2017-02-21 22:45] coatezy commented on #33
Cool! I'll check out master. Thanks @fran-worley!

[2017-02-21 22:46] fran-worley commented on #33
@coatezy no worries, just make sure that you're also using reform from master or it won't run!

[2017-02-22 22:08] mcmire commented on #36
@fran-worley I believe the issue I am describing _is_ isolated to nested forms: it seems like there is custom behavior around nested forms such that they get a specific name that is different from the model name that a non-nested form would usually get.

What I'm saying is that if you have a nested form such as a collection and it is called `items`, it makes sense to me that names for fields gener

[2017-02-23 08:01] apotonick commented on #36
@mcmire In the nested form, you need to use `model` to configure it.

`collection :items do
  model LineItem
[code]

[2017-02-23 21:19] mcmire commented on #36
@apotonick Right. I am using a separate form class, though -- I am saying `collection :items, form: OrderItemForm`, and then I have `model :order_item` in my OrderItemForm class. So when you have it that way, it's a little bit repetitive, I would think, to see

[code]

First, the form class is called *OrderItem*Form. Second (because inferring names from class names is nasty, I do agree), I am pass

[2017-02-24 09:12] apotonick commented on #36
Why is the naming so important in the first place? For nested forms, it doesn't call URL helpers or anything, and Reform's deserializer will map it back properly.

[2017-02-24 09:14] fran-worley commented on #36
@apotonick, it's important in rails because it influences the input names which will mess up your params hash.

Sent from my iPhone

On 24 Feb 2017, at 09:12, Nick Sutterer <notifications@github.com<mailto:notifications@github.com>> wrote:

Why is the naming so important in the first place? For nested forms, it doesn't call URL helpers or anything, and Reform's deserializer will map it back proper

[2017-02-24 09:15] apotonick commented on #36
The solution is to release Formular and leave this crap behind us, ahead into a brighter future.

[2017-02-24 16:20] mcmire commented on #36
Formular looks like a good idea, but does it have anything to do with model validation error messages? Because that's what this issue is really about.

Let me see if I can explain this again :) Reform::Form is essentially an ActiveModel::Model (or brings in ActiveModel functionality at least). When ActiveModel produces validation error messages, it will pull them from select keys in i18n. The name

[2017-03-10 11:57] bootleq opened #45 "Call private method `property` when include Disposable::Twin::Parent"
Hi, I'm using Reform with ActiveModel.
When trying to include `Disposable::Twin::Parent` it reports `private method 'property' called` error.

Code example:
[code]

I found the reason could be `Reform::Form::ActiveModel` defines `property` as private method, at [form_builder_methods.rb#L14-L18][].
And `Parent` will try add a `parent` property by calling `property` ([parent.rb#L3])

Not sure how to

[2017-03-15 00:59] onemanstartup opened #46 "Integration simple_for and reform 2.3.0"
Repository to reproduce error: https://github.com/onemanstartup/reform_rails_simple_for_bug

Main thing is error happens with reform 2.3.0.rc1
[code]

[code]

Reform::Contract::Result::Errors when asked attribute returns nil, but ActiveRecord object Product.new.errors[:name] returns empty array. Simple form can't handle nils and throws up.
Even when I remove validation block in form there is still

[2017-04-10 16:16] mooreniemi opened #47 "valid false value throws validation error (blank) in RSpec"
[code]

^ The link to the gitter channel 401'd for me. Moving now that Gitlab purchased? Is there a freenode IRC channel I could hit up instead?

### Complete Description of Issue
I have a form with a checkbox. In the form object, this checkbox property is required to be present. (`validates :can_sms, presence: true`) In the underlying model, this column has a nullable Boolean corresponding.

In R

[2017-04-10 16:23] fran-worley commented on #47
@mooreniemi this isn't a reform issue I'm afraid. You can't use presence to validate booleans. See the (rails docs) [http://api.rubyonrails.org/classes/ActiveRecord/Validations/ClassMethods.html#method-i-validates_presence_of]:
"If you want to validate the presence of a boolean field (where the real values are true and false), you will want to use `validates_inclusion_of :field_name, in: [true, fa

[2017-04-10 16:23] #47 closed

[2017-04-10 16:30] mooreniemi commented on #47
@fran-worley Thanks so much, any idea why this didn't seem to be failing via my view code, but only in RSpec?

[2017-04-10 16:33] fran-worley commented on #47
No idea I'm afraid, is your view code actually showing error messages?
The native rails form helper doesn't render your errors automatically, you either have to add the code yourself or use something like simple form which will render them alongside the inputs.

[2017-05-01 20:45] onemanstartup commented on #46
@fran-worley I made fix in my fork of reform. I really don't know where it should belong here

[2017-05-06 04:14] rubyrider opened #49 "Active Record uniqueness validator not validating unique property. It works for nested uniqueness."
Hi,
I think the active record uniqueness validation is not working correctly when we are updating an existing model if I am right. It works fine for new record. I created a test scenario at https://github.com/rubyrider/reform-rails/commit/6a6f086e222afff76f712f72af13d113a942b043 . I am facing the same issue in one of my application too. I would go for a fix once this issue is verified.

[2017-05-06 06:16] #49 closed

[2017-05-07 20:36] th1988 commented on #42
Hey guys
I've added a note to the docs https://github.com/trailblazer/trailblazer.github.io/pull/98

[2017-05-19 12:18] sliminas opened #50 "validate returns true although nested property has AMV error"
I created a test to show the unexpected behavior in https://github.com/sliminas/reform-rails/commit/9bf826000cfe3e800fd6bd3c8ae90c5d63562019

I already tracked down the issue to this line in the code https://github.com/trailblazer/reform-rails/blob/master/lib/reform/form/active_model/validations.rb#L62

[code]

If you look at @result at the first time we arrive there during the test it looks like

[2017-05-19 15:20] devpost-mzheng opened #52 "Nested MultiParameter Attributes not converted"
Dates that are nested don't seem to be converted from multi params to a date. For example

[code]

It looks like it skips over the logic to convert the params to date because the nested params come in as type `ActionController::Parameters` and not as a `Hash`

I was able to fix this in a forked branch by doing

[code]

Any thoughts on a better way to do this or perhaps I am missing some options?

[2017-05-20 09:23] apotonick commented on #52
We might have to add this check, then. Thanks!

The real solution here is to push the Formular gem since we can ditch this entire hack, then.

[2017-05-23 01:44] apotonick commented on #50
Thanks for tracking this down! Why do we get there a second time, I wonder?

[2017-05-24 13:23] sliminas commented on #50
After some more debugging I know this so far:

We get there twice because in the test we have a nested form, so the first time of validate! is for the nested form for the 'hit' property and the second time of validate! is executed for the PopulatedAlbumForm itself.
I think this works as intended.

The actual problem seems to be that a new `Reform::Contract::Result` is built with only reading the `

[2017-05-26 03:29] lastobelus commented on #46
also affects https://github.com/bootstrap-ruby/rails-bootstrap-forms

[2017-05-26 03:51] apotonick commented on #46
@onemanstartup Can you point me to your fix so I can have a look, please?

@lastobelus Thanks for confirming! :beers:

[2017-05-26 08:26] onemanstartup commented on #46
@apotonick https://github.com/onemanstartup/reform/commit/be0a9fce37ed4fa159b1e2ad16f71fb3e3daa474

[2017-05-26 08:41] fran-worley commented on #46
Could we add some of these examples to integration tests in Reform-rails? Then we won't break them again in Reform 3.0!!

[2017-05-28 09:36] apotonick commented on #45
This is fixed with the latest `disposable`. :wink:

[2017-05-28 09:36] #45 closed

[2017-06-07 08:59] coding-bunny commented on #9
Is there any update to this?
Cause Reform is 100% not working under Rails 5 anymore with this problem.

[2017-06-07 09:03] apotonick commented on #9
@coding-bunny Can you provide a minimal Rails 5 app provoking this? I can have a quick look now.

[2017-06-07 09:14] coding-bunny commented on #9
Euh, exact code needs a bit of time, but in real short:

* Rails 5 application out of the box
* Create a folder under `app` called `re_form_objects`
* Create a basic form object
* create a basic extension under `app/lreform_objects`
* Follow the Rails 5 approach to auto_load and eager_load

Some example of one of our FormObjects:

[code]

**The included module**
[code]

**application.rb**
This is

[2017-06-07 09:15] apotonick commented on #9
Writing that up probably took longer than hacking down the code :joy:

Thanks, will check it out.

[2017-06-07 09:16] apotonick commented on #9
BTW, this problem doesn't exist when you use `trailblazer-loader` and the TRB file structure for your forms, it's highly recommended checking that out.

[2017-06-07 09:17] coding-bunny commented on #9
at this point I'm open for trying anything to get it to work

[2017-06-07 09:20] apotonick commented on #9
Give me a sample Rails app, the less I have to do the quicker you get a fix.

[2017-06-07 10:17] coding-bunny commented on #9
I'll try to set something up and post it here as soon as I can

[2017-06-07 11:53] coding-bunny commented on #9
I've created a new Rails 5 application copying over the minimal parts and it works actually.
So out of the box it actually works just fine with the configuration set up the same.

My guess there's a specific setting that breaks everything in the framework, which I'm going to try and hunt down now

[2017-06-07 11:59] apotonick commented on #9
@coding-bunny Can you jump on https://gitter.im/trailblazer/chat for a few mins, I can help diagnosing.

[2017-06-07 12:18] coding-bunny commented on #9
joined

[2017-06-07 12:38] coding-bunny commented on #9
just for reference here:

1. I added `require rails/all` to our application.rb again
2. I regenerated the `spec_helper` and `rails_helper` from rspec
3. moved all code in `lib` to `app/lib`
4. extended the autoload and eager_load paths like so:

[code]

And this makes the loading errors and undefined consts disappear for us.

[2017-08-02 16:32] fran-worley commented on #46
I've added a temporary fix for this on reform branch v2.3.0.rc2 @apotonick can you find a clever way to move this into reform-rails ? I hate having simpleform bits in reform...

[2017-08-02 17:23] fran-worley commented on #46
I've also added a patch to get the `f.error_notification` to render correctly. Again, this has had to go in reform so @apotonick will need to get clever before we formally release!

[2017-08-02 17:50] apotonick commented on #46
@fran-worley Ok, can you URL me to those changes?

[2017-08-02 20:35] fran-worley commented on #46
Sure @apotonick they are here:
https://github.com/trailblazer/reform/commit/44aaeef3f357fd4789e344c12c64645275dca5ab
https://github.com/trailblazer/reform/commit/6c836d9330d7d229a3a92e7731e2ca4c0bd88d67

[2017-09-17 08:54] karlingen opened #56 "Using errors.add(:key, 'some text') doesn't translate :key in rails 5"
Attribute names are no longer translated. I'm not sure where the problem is, wether it is with `reform-rails`, `i18n` and/or `rails`. Maybe I'm calling the error messages in a wrong way.

Example:

[code]

In rails 4 `:name` was translated to whatever I had defined in `activerecord.en.yml`:

[code]

I'm getting the error message like this:
[code]

Gemfile.lock:
[code]

[2017-09-17 08:59] karlingen commented on #56
Hmm.. Perhaps this PR fixes it: https://github.com/trailblazer/reform-rails/pull/35

[2017-09-29 09:02] micdahl opened #57 "Dry-Validation: Strange i18n behaveiour"
### Complete Description of Issue
I am using my own base class `MyApp::Contract < Reform::Form` for all my Reform-Objects and have configured `Dry::Validation::Schema` to use `i18n` messages. My locale is `de`. If I submit my form with invalid data, I don't get the correct local error message but the default `en` one. If I just edit and save my base class with just adding or deleting a blank line

[2017-09-29 11:58] siassaj commented on #57
Ok, i'm trying to debug this.

[code]

[2017-09-29 12:00] fran-worley commented on #57
@siassaj form memory, if you want to generate messages in a schema other than the default, you pass the locale into the dry-v messages call.

Currently in Reform there is no handling for passing options to the dry-v messages call and we do that internally.

[2017-09-29 12:00] siassaj commented on #57
@fran-worley I edited the message

[2017-09-29 13:14] siassaj commented on #57
Ok, I've found the actual problem;

Examine closely the following weirdness:

[code]
vs

[code]

This is because of dry-validations;
[code]
vs
[code]
In a silly twist, dry-validations does this nonesense:
[code]

So, dry-validations is holding onto localization data from the moment we register the validation group. More clearly, when the reform class is put into memory.

I have dry-validations 0.1

[2017-09-29 13:28] micdahl commented on #57
Thanks for your fast investigations!
So as a user, you can do

[code]
in an `config/initialization/` file to get a defined locale running at the moment at least.

[2017-09-29 13:32] fran-worley commented on #57
@micdahl unless you're using custom base schemas, you probably don't need the:
[code]

As Reform doesn't use it [see](https://github.com/trailblazer/reform/blob/master/lib/reform/form/dry.rb#L27)

[2017-09-29 13:37] siassaj commented on #57
@micdahl yeah but it's a silly situation. Changing I18n.locale really ought to change the error messages you get without having to dance through hoops.

 I've left a message in dry-v issue tracker to see what we can do about this. It's so weird.

[2017-09-29 13:40] siassaj commented on #57
@fran-worley

[code]

Seems to be using it.

In any case it works, I had to do this in my initializers

[code]

[2017-09-29 13:43] fran-worley commented on #57
@siassaj the latest version of reform (2.3.0rc1) doesn't. We purposefully changed it to use `Dry::Validation::Schema` as Reform handles coercion itself (via disposable/ dry-types) and using Form with already coerced values was causing all sorts of unexpected mess!

[2017-10-10 03:47] dnd commented on #33
@fran-worley I just tried upgrading my reform, and reform-rails to point to master. I am finding that while directly validating on a model contains an `errors` object that exposes `details` and `messages`, validating on a reform object does not expose the `details` at all.

This is what pry shows for the object:
[code]

Are there any tests around this functionality? If so I'll pull down reform-rai

[2017-10-10 13:07] fran-worley commented on #33
@dnd Nope, it's not your app we weren't delegating the result errors object.
You should be sorted now with https://github.com/trailblazer/reform-rails/commit/bd0ddef1ebbb975eb4efc46933b4291f58f3e79d .

[2017-10-10 22:07] dnd commented on #33
I got everything updated, and it's working perfectly now. Thanks for the quick turnaround!

[2017-10-13 09:42] smaximov commented on #57
@siassaj, your issue may be related to mine, see dry-rb/dry-validation#368 for possible workarounds.

[2017-10-26 13:53] RKushnir commented on #36
I just stumbled into this as well. And I'm pretty sure the problem is in `reform-rails`, specifically [here](https://github.com/trailblazer/reform-rails/blob/dce19faa680620d23ea60e657da9a0b32d5bb682/lib/reform/form/active_model.rb#L36-L38). The ultimate model name depends on the load order of the form files, where the last one wins.

Why the name is important? In my case it's used in the error mes

[2017-11-22 15:36] pdfrod commented on #36
I just got bitten by this as well. In my case, the model name is used to generate the form ID that is picked up by JavaScript code. Everything worked fine in my computer, but in production the JavaScript didn't run at all because the model name was different, thus the ID was different. It took me a while to figure out why this happened.

Granted, there other ways to solve my issue, but I steel fee

[2018-01-29 13:52] faucct commented on #12
Was this handled anywhere?

[2018-01-29 13:56] apotonick commented on #12
I think we had this a few years ago and then removed it? :scream_cat:

[2018-02-22 15:31] AurimasLazdauskas opened #59 "validates: { ... } duplicate error messages"
In my form I have such property and its validations declaration:

[code]
[code]

Both when declaring property with `property` or `properties` validation errors are duplicate. However, when I separate validations from property declaration:

[code]
Duplication are no longer there. So it seems that `validates: { ... }` causes error duplication.

I know this issue was reported in trailblazer/trailblaz

[2018-03-12 20:31] fernandes commented on #50
Closing as was fixed in #53

[2018-03-12 20:31] #50 closed

[2018-03-13 11:36] doits opened #61 "`as_json`: stack level too deep"
On current master of `reform-rails` and `reform`:

With the following form:

[code]

... this happens:

[code]

[2018-03-13 13:40] doits opened #62 "Not possible to save boolean attributes"
With latest released `reform` `2.2.4` and `reform-rails` `0.1.7` but also on current master of both: when using it with a boolean attribute (eg postgresql boolean), it is not synced back to model.

[code]

[code]

It is not possible to save boolean attributes due to this bug. Or am I doing something wrong?

[2018-03-13 13:55] doits commented on #62
Sorry, there was an error in my code ... just rechecked it and it works indeed!

[2018-03-13 13:55] #62 closed

[2018-04-16 18:53] TylerRick opened #63 "undefined method `persisted?' (and `to_key`) for #<Hash> when using Composition and `form_for`"
Without `Composition`, `persisted?` works fine, but with `Composition` it gives this error apparently because it delegates to its `model` which is a Hash of multiple models.

## Steps to reproduce
[code]

Using it in a form with `form_for @form` also generates the error, since `form_for` calls `persisted?`.

## Workaround

An easy workaround is to simply add this to form class:
[code]

[2018-04-16 19:00] TylerRick commented on #63
Also ran into this error:
[code]
Workaround was:
[code]

[2018-04-16 20:26] TylerRick commented on #63
Well, it looks like you can work around it by copying and pasting code!

[code]

[2018-04-16 22:07] fernandes commented on #63
@TylerRick are you using `reform-rails` gem or just reform?

Usually `reform-rails` add the `Form::ActiveModes` that makes the form builder happy.

`MyForm.ancestors` includes `Reform::Form::ActiveModel?

look the [source](https://github.com/trailblazer/reform-rails/blob/25d37c2465baed3a4ba7dc7c01734a5308dc1732/lib/reform/form/active_model.rb#L10) that's exactly what you are doing :wink:

[2018-04-16 22:11] fernandes commented on #63
more info on the [docs](http://trailblazer.to/gems/reform/rails.html#activemodel-compliance)

[2018-04-17 17:54] TylerRick commented on #63
Yes, I'm using `reform-rails`. Yes, it delegates those methods to `model`. The problem is that `model` is a *hash* of models and not a single model, because I'm using `include Composition`.

It needs to delegate the messages to `model[:main_model]` instead ... which it *would* do (see debugger output above) except that `Reform::Form::ActiveModel` overrides the correct "default" behavior and makes

[2018-04-17 17:58] fernandes commented on #63
ohhhh yeah @TylerRick , now I see what you are facing

How would you make with "plain" Rails?

Create a model the inherits `Hash` and include `ActiveModel::Model` on this class, is an option?

[2018-05-17 15:59] lucabob commented on #61
Downgrading to `0.2.0.rc1` fixed the issue for me.

[2018-08-08 13:36] freiden opened #65 "ActiveModel validaitons not working"
Hi,

In my project, when using:
[code]
The validations from my models are not backported to the Form.

After taking a look at the code it seems like the issues is coming from `Mapping.from_representable_attrs(definitions)` in the `copy_validations_from` method, definitions is always returning `{}` which prevent the mapping of the attributes in `from_representable_attrs` and prevent the method `inv

[2018-08-10 15:52] apotonick commented on #65
Hi! Ideally, you'd patch this because this feature has been abandoned for a long time - can you find out what went wrong and help us with it? :heart_eyes:

[2018-08-12 08:30] apotonick commented on #65
Only the copying, everything else works fine! Thanks!

[2018-08-24 09:10] reabiliti opened #66 "Dynamic Field Definition"
Hello! There is a desire to implement a dynamic definition of properties based on another model. In the model there is a field jsonb with dynamic attributes store_accessor, implemented as follows:
[code]
I'm trying to create a model through Reform, but I can not dynamically determine the fields, I tried to do this:
[code]
[code]
Also, in the development environment, the following definition works:

[2018-08-24 11:36] apotonick commented on #66
Why so complicated? Just define an anonymous form class at run-time.

[code]

[2018-08-24 11:42] reabiliti commented on #66
I'm just trying to go through the steps in the operations following the example:
[code]
and the launch led to testing, to disassemble, why did not work out `step Contract::Persist()`

[2018-09-03 08:28] sliminas commented on #59
I just tested it with the same reform and reform-rails version for a Rails 4.2.10 app and there the problem does not occur.

[2019-01-16 11:53] Uysim opened #68 "undefined method `full_messages_for' for Reform::Contract::Result"
When submit form and have validation error

[2019-01-16 11:55] fernandes commented on #68
are you pretty sure? this is used in a lot of projects, could you please provide more information?

[2019-12-06 16:06] serhii-bodnaruk commented on #12
Any updates?

[2020-05-22 11:46] jamesbebbington opened #81 "reform-rails 0.1.7 incompatible with reform 2.3"
Having upgraded `reform` from `2.2.4` to `2.3.1`, I'm getting the following error on app boot:

[code]

As of reform 2.3, `Reform::Form::Errors` no longer exists, however [`reform-rails` references it here](https://github.com/trailblazer/reform-rails/blob/cad6f547d93c790f50334afad8518e7829220470/lib/reform/form/active_model/validations.rb#L113).

Is it time for `0.2.0` to make it out of `rc`? If n

[2020-05-22 17:17] seuros commented on #81
did you try with  these versions ?
[code]

[2020-05-22 22:19] #81 closed

[2020-05-22 22:20] #68 closed

[2020-05-22 22:20] #20 closed

[2020-05-22 22:20] #28 closed

[2020-05-22 22:20] #30 closed

[2020-05-22 22:20] #42 closed

[2020-05-22 22:20] #46 closed

[2020-05-22 22:20] #61 closed

[2020-05-22 22:22] #66 closed

[2020-06-03 08:22] schorsch opened #83 "fieldnames in error messages not found via i18n scope"
first: thanks for the update and everybodys work!

I dont know if this ticket belongs here or in the reform main gem, but since i am using ActiveRecord validations i suppose this is right here.

With reform-rails ( v0.2.0 + reform v2.3.1) using model.errors.full_messages the fieldnames with errors are not found within their 'normal' i18n scope which is either de.attributes.a_name or de.activerecor

[2020-08-14 08:12] valscion commented on #83
Yeah, we've got the same issue. Seems like changes done in https://github.com/trailblazer/reform-rails/pull/44 have caused this, I think it might be due to how `errors` is now overridden here:

https://github.com/trailblazer/reform-rails/blob/c78a70ff46ea86aafa325b62da7cc8ac717489d7/lib/reform/form/active_model/validations.rb#L119-L122

"not sure this is 100% compatible with AMV::Errors?" comment

[2020-10-20 00:44] marcelolx commented on #83
We've this problem too, i send a PR only overriding full_messages to reform-rails delegate the call to AM https://github.com/trailblazer/reform-rails/pull/85, but this doesn't solves the problem for nested model attributes, also I haven't looked at the comment on the code which @valscion highlighted, tomorrow I will take another look to see if that could be handled changing `errors` behavior.

[2020-10-21 00:30] marcelolx commented on #83
@schorsch @valscion Could you guys make some tests with the branch of this PR https://github.com/trailblazer/reform-rails/pull/85 to see if the changes solve your problems? Tomorrow I'll do some tests in our application, but I would appreciate if other folks made some tests to make sure I'm not breaking anything on reform-rails.

[2020-10-21 06:45] valscion commented on #83
Yeah, we can test it :) — a few little things are currently in progress so we might not be able to get to it today already, but hopefully we'll get to testing it during this working week still.

[2020-10-21 13:43] valscion commented on #83
Based on a quick test #85 would seem to work ☺️.

![Sanitized_Author_-_Venuu_fi](https://user-images.githubusercontent.com/482561/96728109-743f0a80-13bc-11eb-909e-03689d2fec57.png)

For reference, here's the same page with `reform-rails` using v0.2.0:

![broken_reform-rails](https://user-images.githubusercontent.com/482561/96728126-7739fb00-13bc-11eb-9244-307761c57378.png)

[2020-10-21 20:18] marcelolx commented on #83
@valscion Thanks for the tests ❤️

[2020-11-16 08:41] #56 closed

[2020-11-16 08:41] #83 closed

[2020-12-17 04:20] y-yagi opened #86 "`Reform::Rails` doesn't work with Rails 6.1 well"
When using `Reform::Rails` with Rails 6.1, error messages of form can't acquire.

This is because `Reform::Contract::Result` expected that error messages are `Hash` or `Array`.
https://github.com/trailblazer/reform/blob/bcae40b7405a9ac3ee46507fa2c85acbc997a8c0/lib/reform/result.rb#L37

But in Rails 6.1, error messages are instances of `ActiveModel::DeprecationHandlingMessageArray`(this due to show

[2021-01-11 20:07] TarasBardiuk opened #87 "Check the form for any errors"
I'm working on migrating from reform 2.2.4 to 2.3.3 and from reform-rails 0.1.7 to 0.2.1.

In some places we have a code like this:
[code]
in such case, if error was added AFTER `form.validate(params)` invocation, I cannot check errors existence using `form.errors.present?`. I guess it is because
[code]
and `@success` is not changed if error is added after validation. Therefore, I cannot use `form

[2021-01-12 08:51] TarasBardiuk commented on #87
@apotonick, @emaglio, @seuros, could you take a look?

[2021-01-12 18:10] marcelolx commented on #87
@TarasBardiuk I think as a workaround you can use `form.errors.full_messages.any?` to check if there is any error, this will work in both cases.

And to fix this issue I think that we need set `@success` to `false` here https://github.com/trailblazer/reform-rails/blob/master/lib/reform/form/active_model/validations.rb#L144 when adding an error message 🤔

[2021-01-12 19:07] marcelolx commented on #86
Maybe a better approach will be `reform-rails` have its own implementation of `filter_for` to handle with the  new ActiveModel errors API and keep using `reform` implementation for rails < 6.1 🤔

[2021-01-12 19:39] cherbst-2112 opened #93 "New error objects in rails 6.1"
### Complete Description of Issue

Hi, I'm trying to upgrade my reform 2.3 app to rails 6.1 and seeing a few issues. I found https://github.com/trailblazer/reform-rails/issues/86 but did not see any updates so thought I'd ask here if anyone had any ideas.

Rails 6.1 has a new errors object so they should use the new dsl, there are a few convenience methods to maintain compatibility but they are no

[2021-01-13 11:21] TarasBardiuk commented on #87
@marcelolx thanks for reply. Your suggestion to change the `add` method helped, as well as my version with changing the `empty?` method from `@success` to `@success && messages.empty?`. But none of them fixes `form.errors.any? => false` problem when validation fails in nested form.

[2021-01-13 13:43] marcelolx commented on #87
@TarasBardiuk Even `form.errors.full_messages.any?` didn't worked when nested form validation fails? As I mentioned in my last reply, I think you could use `form.errors.full_messages.any?` instead of `form.errors.any?` as a workaround while we think in a way to fix `empty?` behavior.

[2021-01-13 13:54] TarasBardiuk commented on #87
No-no, it works, but it's not very convenient) But before the update, `form.errors.any?` worked successfully in any cases, and now it is a little broken.

[2021-01-19 20:34] cherbst-2112 commented on #86
Tried this idea, seems to work as a monkey patch:

[code]

Testing for a class that is only temporarily supposed to be there to serve deprecation warnings seems like a hack, but it does work as a starting point

[2021-02-04 09:50] schorsch commented on #86
@cherbst-2112 thanks for the patch, i added it as an initializer and can confirm that it works well .. at least my tests say so :-)

[2021-04-04 09:05] akichim21 commented on #87
Hi.
Are you planning to modify this use case?
I'm using it in controller and would like to hear how you plan to handle it.

[code]

[code]

[2021-08-24 20:03] jcoyne opened #89 "respond_to? method only takes one parameter"
[code]

[2021-08-25 08:32] apotonick commented on #89
Wow, I didn't know about this until now. The problem is here: https://github.com/trailblazer/reform-rails/blob/master/lib/reform/form/active_model/validations.rb#L165 Let me have a look at it! :coffee:

[2021-11-20 12:53] apotonick commented on #86
What a super annoying bug! :bomb: Just ran into it myself.

[2021-12-19 21:00] richardboehme commented on #59
I know it's an old issue but it seems like I'm still seeing this error when inheriting a property from a contract.

The following example leads to the problem:

[code]

I looked into it and seems to be related to the heritage system of disposable. We inherit property definitions AND validations from the parent form. This leads to duplicate validation creation in the child contract because it will

[2022-07-07 04:19] kmsheng opened #94 "calling form.validate throws error stack level too deep"
This error occurs when using collection and Disposable::Twin::Parent together
For example
[code]

Any clues would be truly appreciated, thank you

[2022-07-07 06:02] kmsheng commented on #94
trace before validate
[code]

[code]

[2022-07-07 06:24] kmsheng commented on #94
fixed

[2022-07-07 06:42] kmsheng commented on #94
looks like https://github.com/trailblazer/reform-rails/blob/master/lib/reform/form/active_model/validations.rb#L172 would cause infinite loop

[2022-07-07 08:29] kmsheng commented on #94
[code]

[2022-07-07 09:15] kmsheng commented on #94
https://github.com/trailblazer/reform-rails/pull/95
If anything that needs to update, please let me know : )

[2022-07-27 22:02] tpendragon commented on #86
Had to apply the patch too, any status updates here? Should I assume this is broken and AM support is going away?

[2022-07-28 09:07] apotonick commented on #86
@tpendragon AM is not going to be dropped in Reform, but we're working on Reform 3 and this fell through the cracks. Will review today with @yogeshjain999 :muscle:

[2022-07-28 15:02] tpendragon commented on #86
Y'all are the best, thank you!

[2022-11-12 22:49] rzepetor opened #96 "Acceptance validation does not work"
Run tests against `RAILS_VERSION=7.0.0` `validates :accept, acceptance: true` stops work correctly and fails

[2022-11-13 07:47] apotonick commented on #96
Do any other validations work for you?

[2022-11-13 10:06] rzepetor commented on #96
All works correctly, just acceptance validations doesn't work, just like said even tests against Rails 7 doesn't pass for acceptance validations :(